testrun/
output/
venv/
temp/
.rpa/
.idea/
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
.virtual_documents/
*/.ipynb_checkpoints/*
.vscode
.DS_Store
*.pyc
*.zip
.~lock*
*/work-items-out/*
interactive_console_output.xml