[tool.poetry]
name = "robocorp-workitems"
version = "0.3.0"
description = "Robocorp Control Room Work Items API integration library"
authors = [
	"Ossi R. <ossi@robocorp.com>",
	"Fabio Z. <fabio@robocorp.com>",
	"Kerkko P. <kerkko@robocorp.com>",
    "Antero V. <antero@robocorp.com>",
]
readme = "README.md"
packages = [{include = "robocorp", from="src"}]

[tool.black]
skip-string-normalization = false
skip-magic-trailing-comma = false

[tool.isort]
profile = "black"

[tool.poetry.dependencies]
python = "^3.9"
requests = "^2.28.2"
tenacity = "^8.0.1"
pyyaml = "^6.0"

[tool.poetry.group.dev.dependencies]
black = "^23.1.0"
ruff = "^0.0.255"
mypy = "^1.1.1"
pytest = "^7.2.2"
pytest-xdist = "^3.2.1"
pytest-regressions = "1.0.6"
pydocstyle = "^6.3.0"
isort = "^5.12.0"
types-invoke = "^2.0"
invoke = "^2.0"
lazydocs = { git = "https://github.com/robocorp/lazydocs.git" }
types-requests = "^2.30.0.0"
types-pyyaml = "^6.0.12.9"
robocorp-devutils = {path = "../devutils/", develop = true}

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
