.DS_Store
*.pyc
*.zip
*.pkl
.~lock*

.ipynb_checkpoints/
*/.ipynb_checkpoints/*
.virtual_documents/
*/.virtual_documents/*
/.mypy_cache/
.vscode
.idea/
.rpa/

*/work-items-out/*
testrun/
output/
venv/
temp/

challenge.xlsx
