.dontStretchContents {
  display: inline-block;
}

.selection-visible-dark {
  background-color: #37377a;
}

.selection-visible-light {
  background-color: yellow;
}

.expandButton {
  position: absolute;
  z-index: 10;
  top: 3px;
  margin-left: 1em;
}

.collapseButton {
  position: absolute;
  z-index: 10;
  top: 3px;
}

.variableContent {
  display: inline-block;
  width: calc(100% - 2.5em);
}

.copyVariableToClipboard {
  display: inline-block;
  width: 2.3em;
}
