/* ******************************* */
/* CONTAINERS ETC */

/* box model reset */
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

:root {
    --right-column-width-narrow: 50vw;
    --right-column-width-wide: 60vw;
    /* from here: https://qwtel.com/posts/software/the-monospaced-system-ui-css-font-stack/ */
    --sans-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    /* from here: https://qwtel.com/posts/software/the-monospaced-system-ui-css-font-stack/ */
    --fixed-font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono",
        "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

/* ******************************* */
/* THEMING SUPPORT */

@media (prefers-color-scheme: light) {
    :root {
        --log-color-error: #e84f5c;
        --log-color-success: #219f7f;
        --log-color-variable: #5070b4;

        --log-color-warn: #93801c;
        --log-color-disabled: #999999;
        --log-color-border: #dddddd;

        --log-color-text: #000000;
        --log-color-text-weaker: #444444;
        --log-color-text-weakest: #666666;

        --log-color-bg: #ffffff;
        --log-color-bg-raised: #f3f3f3;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --log-color-error: #e84f5c;
        --log-color-success: #219f7f;
        --log-color-warn: #fff565;
        --log-color-variable: #4094c5;

        --log-color-disabled: #666666;
        --log-color-border: #444444;

        --log-color-text: #eeeeee;
        --log-color-text-weaker: #bbbbbb;
        --log-color-text-weakest: #666666;

        --log-color-bg: #222222;
        --log-color-bg-raised: #333333;
    }
}

body {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-size: 0.8rem;
    font-family: var(--sans-font-family);
    color: var(--log-color-text);
    background-color: var(--log-color-bg);
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
    margin-block-start: 0px;
}

#mainTree {
    white-space: nowrap;
    overflow: auto;
    flex-grow: 1;
}

/* ******************************* */
/* TREE */

.tree li {
    display: block;
    position: relative;
    padding-left: 0px;
}

/* nesting level vertical line */
.tree ul:not(:first-child),
.detailContainer {
    border-left: 1px solid var(--log-color-border);

    /* centering the line with the icon */
    margin-left: 0.65rem;

    /* nesting indentation */
    padding-left: 0.8rem;
}

details.errorParent .tree ul:not(:first-child),
details.errorParent .detailContainer {
    border-color: var(--log-color-error);
}

/* ******************************* */
/* SUMMARY ROW FOR EACH CODE ROW */

details.parentNode > summary,
details.errorParent.leafNode > summary {
    cursor: pointer;
}

details > summary {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.25rem;

    /* chrome needs this, safari doesn't */
    list-style: none;
}

details > summary:hover {
    background-color: var(--log-color-bg-raised);
    border-radius: 2px;
}

details > summary::-webkit-details-marker {
    display: none;
}

details > summary::marker {
    display: none;
}

details > summary::before {
    background-color: var(--log-color-success);
}

details.errorParent > summary::before {
    background-color: var(--log-color-error);
}

details.warnParent > summary::before {
    background-color: var(--log-color-warn);
}

/* icon from: https://github.com/twbs/icons/blob/main/icons/caret-right-square-fill.svg */
details > summary::before {
    position: absolute;
    left: 0.25rem;
    top: 4px;

    /* chrome seems to need the '-webkit' prefix here */
    -webkit-mask: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-caret-right-square-fill" viewBox="0 0 16 16"><path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm5.5 10a.5.5 0 0 0 .832.374l4.5-4a.5.5 0 0 0 0-.748l-4.5-4A.5.5 0 0 0 5.5 4v8z"/></svg>');
    width: 1rem;
    height: 1rem;
    display: inline-block;
    content: "";
}

/* filled icon */
/*details.leafNode.passParent > summary::before {
    -webkit-mask: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square-fill" viewBox="0 0 16 16"><path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"/></svg>');
}*/

details.leafNode.passParent > summary::before {
    -webkit-mask: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16"><path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/><path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/></svg>');
}

/* https://www.svgrepo.com/collection/codicons-coding-icons/ (debug-pause) */
details.leafNode.yiededParent > summary::before {
    -webkit-mask: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16"><path d="M4.5 3H6v10H4.5V3zm7 0v10H10V3h1.5z"></path></svg>');
}

/* https://www.svgrepo.com/collection/codicons-coding-icons/ (circuit-board) */
details.leafNode.generatorParent > summary::before {
    -webkit-mask: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16"><path d="M14.5 1h-13l-.5.5v13l.5.5h13l.5-.5v-13l-.5-.5zM14 14H5v-2h2.3c.3.6 1 1 1.7 1 1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2H4v3H2V2h2v2.3c-.6.3-1 1-1 1.7 0 1.1.9 2 2 2s2-.9 2-2h2c0 1.1.9 2 2 2s2-.9 2-2-.9-2-2-2c-.7 0-1.4.4-1.7 1H6.7c-.3-.6-1-1-1.7-1V2h9v12zm-6-3c0-.6.4-1 1-1s1 .4 1 1-.4 1-1 1-1-.4-1-1zM5 5c.6 0 1 .4 1 1s-.4 1-1 1-1-.4-1-1 .4-1 1-1zm6 0c.6 0 1 .4 1 1s-.4 1-1 1-1-.4-1-1 .4-1 1-1z"></path></svg>');
}

/* https://www.svgrepo.com/collection/codicons-coding-icons/ (debug-restart-frame) */
details.resumedParent > summary::before {
    -webkit-mask: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16"><path fill-rule="evenodd" clip-rule="evenodd" d="M1 10V9h5.207a5.48 5.48 0 0 0-.185 1H1zm6.257-3a5.54 5.54 0 0 1 1.08-1H1v1h6.257zM6.6 13a5.465 5.465 0 0 1-.393-1H1v1h5.6zM15 3v1H1V3h14zm-3.36 10.031a2.531 2.531 0 1 0-2.192-3.797h1.068v.844h-1.97l-.421-.422v-2.25h.844v1.032a3.375 3.375 0 1 1-.423 3.412l.782-.318a2.532 2.532 0 0 0 2.313 1.5z"></path></svg>');
}

/* https://www.svgrepo.com/collection/codicons-coding-icons/ (symbol-variable) */
details.leafNode.variableParent > summary::before {
    -webkit-mask: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16"><path fill-rule="evenodd" clip-rule="evenodd" d="M2 5h2V4H1.5l-.5.5v8l.5.5H4v-1H2V5zm12.5-1H12v1h2v7h-2v1h2.5l.5-.5v-8l-.5-.5zm-2.74 2.57L12 7v2.51l-.3.45-4.5 2h-.46l-2.5-1.5-.24-.43v-2.5l.3-.46 4.5-2h.46l2.5 1.5zM5 9.71l1.5.9V9.28L5 8.38v1.33zm.58-2.15l1.45.87 3.39-1.5-1.45-.87-3.39 1.5zm1.95 3.17l3.5-1.56v-1.4l-3.5 1.55v1.41z"></path></svg>');
    background-color: var(--log-color-variable);
}

/* https://www.svgrepo.com/collection/codicons-coding-icons/ (bracket-error) */
details.leafNode.exceptionParent > summary::before {
    -webkit-mask: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16"><path fill-rule="evenodd" clip-rule="evenodd" d="M6 2.97184V2.98361H5.91083C5.71113 2.98361 5.5238 3.02427 5.34802 3.10513C5.17461 3.18275 5.02193 3.28942 4.89086 3.42437C4.76421 3.55475 4.66135 3.71034 4.58238 3.89205C4.50833 4.07152 4.47134 4.26019 4.47134 4.45902C4.47134 4.68725 4.4753 4.9134 4.48321 5.13749C4.49125 5.36105 4.49127 5.58262 4.48324 5.80219C4.47914 6.01973 4.46082 6.2333 4.42826 6.44285C4.39513 6.65175 4.33913 6.85263 4.26039 7.04464C4.18091 7.23843 4.07258 7.42254 3.93616 7.59702C3.82345 7.74119 3.68538 7.87538 3.52283 8C3.68538 8.12462 3.82345 8.25881 3.93616 8.40298C4.07258 8.57746 4.18091 8.76157 4.26039 8.95536C4.33921 9.14757 4.39513 9.35024 4.42823 9.56312C4.46084 9.76883 4.47914 9.98246 4.48324 10.2039C4.49127 10.4195 4.49125 10.6411 4.48321 10.8686C4.4753 11.0885 4.47134 11.3127 4.47134 11.541C4.47134 11.744 4.50838 11.9346 4.58223 12.1137C4.66104 12.2911 4.76386 12.4469 4.89086 12.5818C5.02194 12.7126 5.17396 12.8191 5.34763 12.9008C5.52346 12.9777 5.71095 13.0164 5.91083 13.0164H6V13.2V14H5.91083C5.59743 14 5.29407 13.9384 5.00128 13.8153C4.70818 13.692 4.44942 13.5153 4.22578 13.285C4.00311 13.0558 3.83793 12.805 3.73283 12.5323L3.73232 12.531C3.63387 12.265 3.56819 11.9903 3.53535 11.7072L3.53516 11.7055C3.50677 11.4215 3.4987 11.1316 3.51084 10.8357C3.52272 10.5462 3.52866 10.2567 3.52866 9.96721C3.52866 9.76883 3.48986 9.58047 3.41201 9.40108L3.41129 9.39942C3.33659 9.21871 3.23428 9.0637 3.10412 8.93352L3.10221 8.93161C2.97577 8.79762 2.82457 8.69157 2.64742 8.61396L2.64601 8.61334C2.47001 8.53238 2.28465 8.4918 2.08917 8.4918H2V8.4V7.6V7.5082H2.08917C2.28497 7.5082 2.4706 7.46954 2.64672 7.3925C2.82466 7.31055 2.97644 7.20405 3.10317 7.07359C3.23423 6.93866 3.33687 6.78296 3.4116 6.60601L3.412 6.60507C3.48974 6.42594 3.52866 6.23556 3.52866 6.03279C3.52866 5.74329 3.52272 5.45379 3.51084 5.16428C3.4987 4.86844 3.50678 4.5805 3.53519 4.30053L3.53533 4.29917C3.56814 4.01201 3.63382 3.7352 3.73233 3.46898L3.73282 3.46766C3.83792 3.19498 4.00311 2.94422 4.22578 2.71498C4.44942 2.48474 4.70818 2.30798 5.00128 2.18473C5.29407 2.06161 5.59743 2 5.91083 2H6V2.97184ZM13.9232 8.4918H14V8.4V7.6V7.5082H13.9108C13.7153 7.5082 13.53 7.46762 13.354 7.38666L13.3526 7.38604C13.1754 7.30844 13.0242 7.20238 12.8978 7.06839L12.8959 7.06648C12.7657 6.9363 12.6634 6.78129 12.5887 6.60058L12.588 6.59892C12.5101 6.41953 12.4713 6.23117 12.4713 6.03279C12.4713 5.74329 12.4773 5.45379 12.4892 5.16428C12.5013 4.86842 12.4932 4.57848 12.4648 4.29454L12.4646 4.29285C12.4318 4.00971 12.3661 3.73502 12.2677 3.46897L12.2672 3.46766C12.1621 3.19499 11.9969 2.94422 11.7742 2.71498C11.5506 2.48474 11.2918 2.30798 10.9987 2.18473C10.7059 2.06161 10.4026 2 10.0892 2H10V2.8V2.98361H10.0892C10.2891 2.98361 10.4765 3.0223 10.6524 3.09917C10.826 3.18092 10.9781 3.28736 11.1091 3.41823C11.2361 3.55305 11.339 3.70889 11.4178 3.88628C11.4916 4.0654 11.5287 4.25596 11.5287 4.45902C11.5287 4.68727 11.5247 4.91145 11.5168 5.13142C11.5088 5.35894 11.5087 5.58049 11.5168 5.79605C11.5209 6.01754 11.5392 6.23117 11.5718 6.43688C11.6049 6.64976 11.6608 6.85243 11.7396 7.04464C11.8191 7.23843 11.9274 7.42254 12.0638 7.59702C12.1765 7.74119 12.3146 7.87538 12.4772 8L12.4456 8.02455C12.9764 8.08338 13.4758 8.24605 13.9232 8.4918Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3333 9.50559C10.8266 9.17595 11.4067 9 12 9C12.7954 9.00098 13.5578 9.31736 14.1202 9.87976C14.6826 10.4422 14.999 11.2047 15 12C15 12.5933 14.8241 13.1734 14.4944 13.6667C14.1648 14.1601 13.6962 14.5446 13.1481 14.7716C12.5999 14.9987 11.9967 15.0581 11.4147 14.9424C10.8328 14.8266 10.2982 14.5409 9.87868 14.1213C9.45912 13.7018 9.1734 13.1672 9.05765 12.5853C8.94189 12.0033 9.0013 11.4001 9.22836 10.8519C9.45543 10.3038 9.83994 9.83524 10.3333 9.50559ZM13.1464 10.1464L12 11.2929L10.8536 10.1464L10.1465 10.8535L11.2929 12L10.1464 13.1464L10.8536 13.8536L12 12.7071L13.1465 13.8535L13.8536 13.1464L12.7071 12L13.8536 10.8536L13.1464 10.1464Z"></path></svg>');
    background-color: var(--log-color-error);
}
.exceptionParent {
    font-weight: bold;
}

/* https://www.svgrepo.com/collection/codicons-coding-icons/ (error) */
details.leafNode.errorParent > summary::before {
    -webkit-mask: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.6 1c1.6.1 3.1.9 4.2 2 1.3 1.4 2 3.1 2 5.1 0 1.6-.6 3.1-1.6 4.4-1 1.2-2.4 2.1-4 2.4-1.6.3-3.2.1-4.6-.7-1.4-.8-2.5-2-3.1-3.5C.9 9.2.8 7.5 1.3 6c.5-1.6 1.4-2.9 2.8-3.8C5.4 1.3 7 .9 8.6 1zm.5 12.9c1.3-.3 2.5-1 3.4-2.1.8-1.1 1.3-2.4 1.2-3.8 0-1.6-.6-3.2-1.7-4.3-1-1-2.2-1.6-3.6-1.7-1.3-.1-2.7.2-3.8 1-1.1.8-1.9 1.9-2.3 3.3-.4 1.3-.4 2.7.2 4 .6 1.3 1.5 2.3 2.7 3 1.2.7 2.6.9 3.9.6zM7.9 7.5L10.3 5l.7.7-2.4 2.5 2.4 2.5-.7.7-2.4-2.5-2.4 2.5-.7-.7 2.4-2.5-2.4-2.5.7-.7 2.4 2.5z"/></svg>');
}

/* https://www.svgrepo.com/collection/codicons-coding-icons/ (warn) */
details.leafNode.warnParent > summary::before {
    -webkit-mask: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.56 1h.88l6.54 12.26-.44.74H1.44L1 13.26 7.56 1zM8 2.28L2.28 13H13.7L8 2.28zM8.625 12v-1h-1.25v1h1.25zm-1.25-2V6h1.25v4h-1.25z"/></svg>');
}

details.parentNode > summary::before,
details.parentNode.errorParent > summary::before {
    transform-origin: 8px 8px;
    transform: rotate(0deg);
    transition: transform 0.2s ease-out !important;
}

details[open].parentNode > summary::before,
details[open].parentNode.errorParent > summary::before {
    transform: rotate(90deg);
}

details[open] > summary > .summaryDiv > .summaryInput {
    /* Display full input parameters when expanded by adjusting the
       white-space to wrap the contents. Even nodes that don't have
       children can be expanded in this way, but it is not obvious
       since there is no triangle icon next to them. */
    white-space: initial;
}

.summaryDiv {
    /* aligns code line correctly with the icon */
    display: flex;
    margin-left: 1.2rem;
}

.summaryDiv > .label {
    order: 2;
}

.summaryDiv > .summaryName {
    order: 1;

    margin-left: 0.5rem;
    font-family: var(--fixed-font-family);
    font-size: 0.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.summaryDiv > .summaryName,
.detailContainer > .detailInfo {
    /* this forces the correct column size, see:
       https://makandracards.com/makandra/66994-css-flex-and-min-width */
    min-width: 0;
}

details.errorParent > summary > .summaryDiv > .summaryName {
    font-weight: bold;
}

.summaryDiv > .summaryInput {
    order: 4;
    margin-left: auto;
    font-family: var(--fixed-font-family);
    font-size: 0.75rem;
    color: var(--log-color-text-weaker);
}

.summaryDiv > .summaryInput.emptySummaryInput {
    color: var(--log-color-text-weakest);
}

.detailContainer {
    display: flex;
}

.detailContainer > .detailInfo {
    margin-right: auto;
}

.summaryDiv > .summaryInput,
.detailContainer > .detailInputs {
    flex: 0 0 var(--right-column-width-wide);
    padding-left: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.summaryDiv .timeLabel,
.summaryDiv .summaryFileName {
    order: 3;
    color: var(--log-color-text-weakest);
    margin-left: 0.5rem;
}

details > summary:hover .timeLabel,
details > summary:hover .summaryFileName {
    color: var(--log-color-text-weaker);
}

details > summary:hover .summaryInput:not(.emptySummaryInput) {
    color: var(--log-color-text) !important;
}

/* ******************************* */
/* RESPONSIVE SIZING */

@media only screen and (max-width: 840px) {
    .summaryDiv > .summaryInput,
    .detailContainer > .detailInputs,
    .headerInputs {
        display: none;
    }
}

@media only screen and (max-width: 960px) {
    .headerInputs {
        width: var(--right-column-width-narrow) !important;
    }

    .summaryDiv > .summaryInput,
    .detailContainer > .detailInputs {
        flex: 0 0 var(--right-column-width-narrow) !important;
    }
}

/* ******************************* */
/* ERROR OUTPUT */

.detailInfo {
    margin: 0.25rem 0;
    padding: 0.25rem 0;
    border-radius: 3px;
    font-size: 0.8rem;
}

.errorHeader {
    font-weight: bold;
    margin-bottom: 0.35rem;
    overflow: hidden;
    text-overflow: ellipsis;

    /* forces wrapping */
    white-space: initial;
}

.errorDetails {
    font-family: var(--fixed-font-family);
    font-size: 0.75rem;

    /* forces wrapping */
    white-space: initial;

    color: var(--log-color-text-weaker);
}

/* ******************************* */
/* HEADERS */

.headers {
    display: flex;
    border-bottom: 1px solid var(--log-color-border);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.headerSource,
.headerInputs {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.3px;
    color: var(--log-color-text-weaker);
}

.headerInputs {
    margin-left: auto;
    width: var(--right-column-width-wide);
    padding-left: 0.5rem;
}

.headerRunDetails {
    margin: 0;
    margin-bottom: 1.5rem;
    color: var(--log-color-text-weaker);
}

/* ******************************* */
/* LABEL IS THE PASS/ERROR BADGE */

.label {
    display: inline-block;
    margin-left: 0.5rem;
    color: white;
    font-weight: 600;
    font-size: 10px;
    border-radius: 2px;
    padding: 0 4px;
    height: 1rem;
    line-height: 1rem;
    letter-spacing: 0;
    display: none;
}

.errorParent.leafNode .label.F,
.errorParent.leafNode .label.E,
.errorParent.leafNode .label.FAIL,
.errorParent.leafNode .label.ERROR {
    display: block;
    background-color: var(--log-color-error);
}

/* hide labels when everything was successful */
/*
.label.PASS,
.label.I,
.label.INFO {
}
*/
.errorParent.leafNode .label.W,
.errorParent.leafNode .label.WARN {
    background-color: var(--log-color-warn);
}

.label.NOT_RUN {
    background-color: var(--log-color-disabled);
}

/* ******************************* */
/* HEADER TITLE ROW */

.headerTitleSection {
    display: flex;
    align-items: center;
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
}

.headerTitleSection h3 {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

#suiteResult {
    font-size: 0.82rem;
    padding: 0.1rem 0.3rem 0.15rem 0.3rem;
    height: auto;
    margin-left: 0.75rem;
    display: inline-block;
}
.headerTitleSection .ERROR {
    background-color: var(--log-color-error);
}
.headerTitleSection .PASS {
    background-color: var(--log-color-success);
}
