name: Action Server Release

on:
  push:
    tags:
      - "robocorp-action_server-*"

defaults:
  run:
    working-directory: './action_server'

jobs:
  deploy:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true

    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v3

    - name: Install poetry
      run: python -m pip install poetry invoke tomlkit

    - name: Setup node
      uses: actions/setup-node@v3
      with:
        node-version: 20.x
        registry-url: "https://npm.pkg.github.com"
        scope: "@robocorp"

    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"
        cache: 'poetry'

    - name: Install project
      # Note: inv install may download RCC as it'll execute action_server/build.py. 
      run: inv install
      env:
        ACTION_SERVER_SKIP_DOWNLOAD_IN_BUILD: true

    - name: Check tag version
      run: inv check-tag-version

    - name: Build with poetry
      run: |
        inv build-frontend
        # Make sure that we have no binaries present when doing the build.
        rm src/robocorp/bin/rcc src/robocorp/bin/rcc* -f
        # Just sdist here, wheels are built in the manylinux job.
        poetry build -f sdist
      env:
        CI: true
        NODE_AUTH_TOKEN: ${{ secrets.CI_GITHUB_TOKEN }}
        ACTION_SERVER_SKIP_DOWNLOAD_IN_BUILD: true

    - uses: actions/upload-artifact@v4
      with:
        name: action-server-dist
        path: "action_server/dist/*"

    - name: Upload to PyPI
      run: |
        poetry config pypi-token.pypi  ${{ secrets.PYPI_TOKEN_ROBOCORP_ACTION_SERVER }}
        poetry publish
      env:
        ACTION_SERVER_SKIP_DOWNLOAD_IN_BUILD: true
