name: Action Server [BINARY] Release

on:
  workflow_dispatch:
    # Enables manual triggering via GitHub Actions

  push:
    branches:
      - "wip"

    tags:
      - "robocorp-action_server-*"


defaults:
  run:
    working-directory: './action_server'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, windows-2019, macos-11]
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
  
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          registry-url: "https://npm.pkg.github.com"
          scope: "@robocorp"


      - name: Install cibuildwheel
        run: |
            python -m pip install invoke
            python -m invoke build-frontend
        env:
           CI: true
           NODE_AUTH_TOKEN: ${{ secrets.CI_GITHUB_TOKEN }}
        
        
      - name: Build binary
        run: |
            python -m pip install pyoxidizer
            cd build-binary
            pyoxidizer run

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ runner.os }}-binaries
          path: "action_server/build-binary/build/*"

      # Having a separate artifact for version.txt helps downstream workflows
      - name: Get version
        if: matrix.os == 'ubuntu-20.04'
        run: |
            cd action-server
            poetry version | awk '{print $2}' > action_server/build-binary/build/version.txt
      - uses: actions/upload-artifact@v4
        if: matrix.os == 'ubuntu-20.04'
        with:
          name: action-server-version
          path: "action_server/build-binary/build/version.txt"
          
