name: Action Server Release

on:
  push:
    tags:
      - "robocorp-action_server-*"

defaults:
  run:
    working-directory: './action_server'

jobs:
  deploy:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true

    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v3

    - name: Install poetry
      run: pipx install poetry

    - name: Setup node
      uses: actions/setup-node@v3
      with:
        node-version: 16.x
        registry-url: "https://npm.pkg.github.com"
        scope: "@robocorp"

    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: 3.9
        cache: 'poetry'

    - name: Install project
      run: poetry install

    - name: Check tag version
      run: poetry run invoke check-tag-version

    - name: Build with poetry
      run: |
        poetry run inv build-frontend
        poetry build
      env:
        CI: true
        NODE_AUTH_TOKEN: ${{ secrets.CI_GITHUB_TOKEN }}

    - name: Upload to PyPI
      run: |
        poetry config pypi-token.pypi  ${{ secrets.PYPI_TOKEN_ROBOCORP_ACTION_SERVER }}
        poetry publish
