name: Log Release

on:
  push:
    tags:
      - "robocorp-log-*"

defaults:
  run:
    working-directory: './log'

jobs:
  deploy:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true

    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v4

    - name: Setup node
      uses: actions/setup-node@v4
      with:
        node-version: 22.x
        registry-url: "https://npm.pkg.github.com"
        scope: "@robocorp"

    - name: Install poetry
      run: pipx install poetry

    - name: Set up Python 3.9
      uses: actions/setup-python@v5
      with:
        python-version: 3.9
        cache: 'poetry'

    - name: Install project
      run: poetry install

    - name: npm ci
      working-directory: ./log/output-react/
      run: |
        npm ci
      env:
        CI: true
        NODE_AUTH_TOKEN: ${{ secrets.CI_GITHUB_TOKEN }}

    - name: Print robocorp-log info and build the output view.
      run: |
        poetry run inv build-output-view-react
      env:
        CI: true
        NODE_AUTH_TOKEN: ${{ secrets.CI_GITHUB_TOKEN }}

    - name: Check tag version
      run: poetry run invoke check-tag-version

    - name: Build with poetry
      run: poetry build

    - name: Upload to PyPI
      run: |
        poetry config pypi-token.pypi  ${{ secrets.PYPI_TOKEN_ROBOCORP_LOG }}
        poetry publish
