name: Tasks Lint

on:
  push:
    paths:
      - "tasks/**"
      - ".github/workflows/tasks_lint.yml"
  pull_request:
    branches:
      - "master"
    paths:
      - "tasks/**"
      - ".github/workflows/tasks_lint.yml"
      
defaults:
  run:
    working-directory: './tasks'

jobs:
  run-linters:
    name: Run linters
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Install poetry
        run: pipx install poetry
        
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
          cache: 'poetry'
          
      - name: Install project
        run: poetry install
          
      - name: Black check
        run: |
          poetry run black --check src tests
          
      - name: mypy robocorp-tasks
        run: |
          poetry run mypy --follow-imports=silent --show-column-numbers --namespace-packages --explicit-package-bases src tests
          
          