name: Tasks Release

on:
  push:
    tags:
      - "robocorp-tasks-*"

defaults:
  run:
    working-directory: './tasks'

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    strategy:
      fail-fast: true

    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v3

    - name: Install poetry
      run: pipx install poetry
      
    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: 3.9
        cache: 'poetry'

    - name: Install project
      run: poetry install

    - name: Check tag version
      run: poetry run python -m dev check-tag-version
      
    - name: Build with poetry
      run: poetry build
      
    - name: Upload to PyPI
      run: |
        poetry config pypi-token.pypi  ${{ secrets.PYPI_TOKEN_ROBOCORP_TASKS }}
        poetry publish
